@import "../../styles/color.scss";

input[type="password"], 
input[type="email"] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 40px 0 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

.inputWrap {
  margin-top: 16px;      
  display: flex;      
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;        
  }

  .status {
    position: absolute;
    right: 8px;
    cursor: help;        
  }
}